/* WebcamCapture Component Styles */

.webcam-capture-container {
  position: relative;
  overflow: hidden;
  transform: rotateY(180deg);
}

.webcam-capture-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.webcam-capture-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
